/* reset css */
@import './reset.css';

/* components */
@import './components/nave.css';
@import './components/item-modali.css';

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-color: #e3e3e3;
}

.nav {
    position: fixed;
    z-index: 2;
}

#goods-bar {
    display: flex;
    height: 5rem;
    width: 100%;
    padding: 1.5rem;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 2px rgba(128, 128, 128, 0.548);
    position: fixed;
    z-index: 2;
    top: 5rem;
}

.page {
    width: 100vw;
    position: relative;
    top: 5rem;
}

#display, #videos {
    height: 1024px;
    padding: 10% 0% 20% 0%;
    box-sizing: border-box;
    background-color: black;
    position: relative;
    top: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.videos-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#videos h2 {
    font-size: 5rem;
    font-weight: 800;
}

#display h2 {
    font-size: 5rem;
    font-weight: 800;
}

.background-img {
    width: 100%;
}

.item-wrapper {
    display: flex;
    align-items: center;
    width: 70rem;
    justify-content: space-evenly;
    overflow-y: scroll;
    left: 10%;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 12rem;
    height: 20rem;
    border: 1px solid white;
}

.item-box:hover {
    cursor: pointer;
}

.item-box__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 15rem;
}

.item-box__img img {
    max-width: 12rem;
    max-height: 15rem;
    width: 100%;
}

.item-box__contents {
    width: 100%;
    height: 5rem;
    color: white;
    box-sizing: border-box;
}

.item-box__content {
    display: flex;
    width: 100%;
    margin: 0.4rem 0rem;
}

.invisible {
    display: none;
}

.item-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}