@import 'reset.css';

/* components */
@import './components/nave.css';

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

body {
    width: 100vw;
    height: 110vh;
    color: white;
    font-family: 'EB Garamond', 'NanumSquareNeo-Variable', serif;
}

.invisible {
    visibility: hidden;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.post-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    height: 45rem;
    margin: 15rem 0rem;
    padding: 1rem;
    border: 1px solid black;
    color: black;
}

.post-form__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.post-form__input-wrapper span {
    display: flex;
    width: 15%;
}

.post-form__img-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.post-form__img-preview ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;
}

#sizes-title {
    font-size: 3rem;
    margin: 1rem 0rem;
}

.post-form input[type="text"] {
    width: 85%;
    height: 3rem;
    border: none;
    border-bottom: 2px solid black;
}
.post-form input[type="file"] {
    position: relative;
    width: 85%;
    height: 3rem;
    top: 11px;
}

.post-form input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid rgb(151, 15, 15);
    transition: all 0.5s ease-in;
}

button {
    margin-top: 2rem;
}

button {
    border: 1px solid #444633;
    color: #444633;
}

button:hover {
    background-color: #444633;
    color: white;
}

label {
    margin: 0.5rem;
}