@import 'reset.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.invisible {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 98%;
    padding: 23px;
    background-color: black;
    position: absolute;
    z-index: 2;
    top: 0px;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav img {
    width: 270px;
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
    margin: 0rem 0.5rem;
}

.nav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


#map {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 18rem;
    height: 7rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    top: -7rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.body {
    display: flex;
    flex-direction: row;
}

.desc a {
    color: rgb(0, 162, 255);
}

.shops {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 20rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0px 20px;
    border: 1px solid black;
}

.shop-info {
    width: 18rem;
    height: 7rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1rem;
}

.shops span {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    height: 25px;
    border-bottom: 1px solid black;
}

.shops > div:last-child {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
