@import 'reset.css';
@import './components/item-modalb.css';

body {
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    height: 5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: black;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav img {
    height: 1.5rem;
}

.nav__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.5rem;
}

.brands {
    position: absolute;
    width: 10%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    left: 0%;
    top: 10rem;
}

.brands > span {
    font-size: 1.3rem;
    font-weight: 600;
}

.brands__help {
    margin: 10% 0%;
}

.brands__help span:first-child {
    color: red;
}

.brands__help span:nth-child(2) {
    color: blue;
}

.brands__help span:nth-child(3) {
    color: green;
}

.brands__help span:nth-child(4) {
    color: bisque;
}

.brands__brand {
    color: red;
    margin: 1% 0%;
}

.brands__brand a {
    text-decoration: none;
    color: red;
}

.brands__brand:last-child a{
    color: green;
}

.search-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.category-filter {
    display: flex;
    overflow: auto;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-filter {
    margin: 0rem 0.5rem;
}

.size-filter input {
    width: 3rem;
    height: 1rem;
}

.item-wrapper {
    display: grid;
    align-items: center;
	grid-template-columns: repeat(5, 12rem);
    width: 80%;
    overflow: scroll;
    left: 10%;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    width: 12rem;
    height: 18rem;
}

.item-box__img img {
    width: 12rem;
    height: 15rem;
}

.item-box__contents {
    width: 100%;
    height: 3rem;
    overflow-y: scroll;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.item-box__content {
    display: flex;
    width: 100%;
    margin: 0.4rem 0rem;
}

.invisible {
    display: none;
}

.brand-popUp {
    display: flex;
    flex-direction: row;
    width: 30rem;
    height: 15rem;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    position: fixed;
}

.brand-popUp__img {
    width: 15rem;
    height: 15rem;
}

.brand-popUp__info {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.brand-popUp__info > div {
    margin: 0.5rem 0rem;
}

.brand-popUp__keyword {
    display: flex;
    flex-direction: row;

}

.brand-popUp img {
    width: 100%;
}

@media (max-width: 767px){
    .search-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0rem;
        width: 100%;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    .item-wrapper {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 12rem);
        width: 100%;
        overflow: scroll;
        left: 10%;
    }

    .brands {
        position: absolute;
        width: 10%;
        height: 50%;
        display: none;
        flex-direction: column;
        justify-content: center;
        padding: 1%;
        left: 0%;
        top: 10rem;
    }

    .filter {
        justify-content: left;
        align-items: center;
        z-index: -1;
        width: 80%;
    }
    
    .size-filter {
        margin: 0rem 0.5rem;
        height: 2rem;
        min-width: fit-content;
    }
    
    .size-filter input {
        width: 3rem;
        height: 1rem;
    }
}